html {

    min-height: 100%;
    position: relative;

}

body{
    margin-bottom: 65px;
}

.footer{

    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: #222222;

}

.footer p.text-muted{
    margin-top: 10px;
}

.navbar-custom{
    border-radius: 0;
    background-color: #404040;
    border-color: #303030;
    margin-bottom: 0px;
}

.navbar-brand{
    padding-top: 7px;
}

body > .container, body > .container-fluid{
    padding: 0px 15px 0;
}

.login-jumbotron{
    height: 100%;
}

.buffered-row-large{
    margin-top:11px;
}
.row.large-buffer{
    margin-top: 60px;
}
.row.top-buffer{
    margin-top: 20px;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

.login-form label{
    font-size: 12px;
}
.panel-general-info .fa{
    margin-left: 7px;
}
.buffered-row{
    margin-top: 7px;
}
.clearfix {
    clear: both;
}

div.dropdown-menu{
    border-radius: 0;
}

.bootstrap-select .dropdown-toggle{
    border-radius: 0;
}

.required-star{
    color: red;
}

.js-link{
    cursor: pointer;
}

.form-group i{
    padding-top:10px;
}

td .icon-link{
    margin:0 5px;
}

.fixed-table-container{
    border-radius: 0;
    -webkit-border-radius: 0px;
}

.fixed-table-container thead th:first-child {
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
}
.fixed-table-container thead th:last-child {
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
}

.pagination-detail{
    padding:0 7px 0 7px;
}

.fixed-table-toolbar{
    padding: 0 7px 0 7px;
}

.panel-input{

    width: 100%;
    padding:5px 5px;

}

.table>tbody>tr.custom-warning>td, .table>tbody>tr.custom-warning>th, .table>tbody>tr>td.custom-warning, .table>tbody>tr>th.custom-warning, .table>tfoot>tr.custom-warning>td, .table>tfoot>tr.custom-warning>th, .table>tfoot>tr>td.custom-warning, .table>tfoot>tr>th.custom-warning, .table>thead>tr.custom-warning>td, .table>thead>tr.custom-warning>th, .table>thead>tr>td.custom-warning, .table>thead>tr>th.custom-warning {
    background-color: #fd9d78;
}
.table>tbody>tr.custom-danger>td, .table>tbody>tr.custom-danger>th, .table>tbody>tr>td.custom-danger, .table>tbody>tr>th.custom-danger, .table>tfoot>tr.custom-danger>td, .table>tfoot>tr.custom-danger>th, .table>tfoot>tr>td.custom-danger, .table>tfoot>tr>th.custom-danger, .table>thead>tr.custom-danger>td, .table>thead>tr.custom-danger>th, .table>thead>tr>td.custom-danger, .table>thead>tr>th.custom-danger {
    background-color: #ff5757;
}

.table>tbody>tr.mdisabled-device>td, .table>tbody>tr.mdisabled-device>th, .table>tbody>tr>td.mdisabled-device, .table>tbody>tr>th.mdisabled-device, .table>tfoot>tr.mdisabled-device>td, .table>tfoot>tr.mdisabled-device>th, .table>tfoot>tr>td.mdisabled-device, .table>tfoot>tr>th.mdisabled-device, .table>thead>tr.mdisabled-device>td, .table>thead>tr.mdisabled-device>th, .table>thead>tr>td.mdisabled-device, .table>thead>tr>th.mdisabled-device {
    background-color: #00b9b9;
}

.fixed-table-pagination .pagination{
    padding-right: 7px;
    border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle{
/*    border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-group1 .form-control1:last-child {
}


.navbar-inverse .navbar-nav>li>a.menu-attention{
    color:white;
}

.tab-pane{
    padding-top:15px;
}

.select-exam-label{
    text-align:right;
    padding-top:7px;
}

.fcheckbox{
    margin: 10px 0 0 !important;
}
.tt-menu{
    width: 100%;
    margin: 5px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}
.tt-empty-message {
    padding: 3px 20px;
}
.btn-info{
    border-radius: 0;
}
.btn-danger{
    border-radius: 0;
}
.tab-pane#examinations table td {
    font-size: 12px;
}
.view-title{
    font-weight: bold;
    font-size:18px;
    text-decoration: underline;
    text-align: center;
    margin: 5px 0;
}
.form-field{
    padding-top: 7px;
    display: block
}

.destination-container{
    margin-bottom:5px;
    clear:both;
}
.destination-container::after{
    clear:both;
}
.destination-container::before{
    clear:both;
}

.item-container{
    margin-bottom:5px;
    clear:both;
}
.item-container::after{
    clear:both;
}
.item-container::before{
    clear:both;
}

ol.sortable ,ol.sortable .sortable{
    list-style-type: none;
    padding:0;
    margin: 1.5em 0;
}
ol.sortable li ol{
    list-style-type: none;
}
.sortable li{
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li div.destination-container {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.sortable li div.item-container {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.truck-container {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  /*  height: 180px;
    width: 80%;*/
}

.disclose, .destination-text, .item-text, .remove-destination, .remove-item, .process-destinations, .process-item, .disclose-destination, .disclose-item{
     display: inline-block;
 }
.destination, .destination-text, .item, .item-text{
    margin-left:5px;
    width: 92%;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
}
.disclose, .remove-destination, .process-destinations, .disclose-destination, .remove-item, .process-item, .disclose-item{
    cursor: pointer;
    top: 2px;
    color: #333333;
}
.disclose:hover, .remove-destination:hover, .remove-item:hover,.process-destinations:hover, .disclose-destination:hover{
    color: #2aabd2;
}
.destination-input-container{
    margin-top: 5px;
}

.item-input-container{
    margin-top: 5px;
}
.destination-input{
    padding:2px 8px;
    width:100%;
}

.item-input{
    padding:2px 8px;
    width:100%;
}

.destination-type-container{
    margin-top:5px;
}

.haschanged{
    color: #46b8da;
}

.destination1-square{
    height:20px;
    background: #46b8da;
    width: 20px;
}
.destination2-square{
    height:20px;
    background: #4cae4c;
    width: 20px;
}
.destination3-square{
    height:20px;
    background: #c12e2a;
    width: 20px;
}
.sortable-destination .placeholder{
    height: 35px;
}

.hasChangedDestinations {
    color: #4cae4c;
}

.hasChangedDestination.haschanged{
    color: #c12e2a;
}

ol li.hasfault{
    outline: 1px dashed red;
}

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control1:-ms-input-placeholder {
    color: #999;
}

.save-settings-container, .save-destinations-container, .view-combinations-container{
    position: relative;
    height: 40px;
}

.save-settings-container .save-settings, .save-destinations-container .save-destinations, .save-destinations-container .save-table-destinations,.view-combinations-container .view-combinations{
    position: absolute;
    right: 10px;
    top: 5px;
}

